[Desktop Entry]
Name=Steam Alt
Comment=Steam aint behaving
Exec=steam %U
Icon=steam
Terminal=false
Type=Application
Categories=Network;FileTransfer;Game;
MimeType=x-scheme-handler/steam;x-scheme-handler/steamlink;
Actions=Settings;
PrefersNonDefaultGPU=false
X-KDE-RunOnDiscreteGpu=false

[Desktop Action Settings]
Name=Settings
Exec=steam steam://open/settings
