@import "mocha.css";

* {
	border: none;
	border-radius: 0;
	font-family: "BlexMono Nerd Font";
	font-weight: 500;
	/* font-size: 18px; */
	min-height: 24px;
}

window#waybar {
	background: transparent;
}

window#waybar.hidden {
	opacity: 0.2;
}


/* #window {
	font-size: 14px;
    margin-top: 8px;
    padding-left: 16px;
    padding-right: 16px;
	border-radius: 12px;
	transition: none;
    color: @rosewater;
	background: @surface0;
} */

#workspaces {
	margin: 5px;
	/* margin-left: 10px;
	margin-right: 10px; */
	border-radius: 10px;
	transition: none;
	background: @surface0;
}

#workspaces button {
	font-size: 20px;
	transition: none;
	color: @rosewater;
	background: transparent;
	
}

#workspaces button.focused {
	color: @mauve;
}

#workspaces button:hover {
	font-size: 40px;
	transition: none;
	box-shadow: inherit;
	text-shadow: inherit;
	color: @mauve;
}

#mpd {
	margin: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: @rosewater;
	background: @surface0;
}

#mpd.disconnected,
#mpd.stopped {
	color: @rosewater;
	background: @surface0;
}

#tray,
#window,
#network,
#pulseaudio,
#temperature,
#battery,
#cpu,
#memory,
#network,
#idle_inhibitor,
#custom-power,
#clock {
	font-size: 16px;
	margin: 5px;
	padding-right: 10px;
	padding-left: 10px;
	border-radius: 10px;
	transition: none;
	color: @rosewater;
	background: @surface0;
}
